@{
    ViewData["Title"] = "Platinum Hazel Ring"; // TODO: by DB
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="form-container bg-white">
            <ul class="breadcrumb product-breadcrumb bg-light-1 p-4 mb-5">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="primary-link"><u>Home</u></a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Shop" asp-action="Index" class="primary-link"><u>Shop</u></a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" class="primary-link"><u>Women</u></a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Rings" class="primary-link"><u>Rings</u></a></li>
                <li class="breadcrumb-item">Platinum Hazel Ring</li>
            </ul>
            <div class="product-view">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-img bg-light-1 mb-5 mb-md-0">
                            @* TODO: by DB *@
                            <img src="~/images/product-lg-1.jpg" alt="Platinum Hazel Ring" />
                        </div>
                    </div>
                    <div class="col-md-8 px-4 pl-md-5">
                        <h1 class="product-title">Platinum Hazel Ring</h1>
                        <div class="product-price discount">
                            <span class="actual-price">$35.00</span>
                            <span class="regular-price"><strike>$65.00</strike></span>
                        </div>
                        <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut hendrerit ipsum. Phasellus tempor, elit eget varius luctus, justo arcu scelerisque arcu, non pulvinar sapien nibh in sapien.</p>
                        <div class="product-actions d-flex align-items-end flex-wrap">
                            <span data-in-num data-in-num-min="1" data-in-num-max="10" class="mr-4">
                                <button type="button" class="primary-link p-3 mr-1" data-in-num-dec>-</button>
                                <input type="text" class="i-txt text-center maxw-6 py-3 m-0" value="1">
                                <button type="button" class="primary-link p-3 ml-1" data-in-num-inc>+</button>
                            </span>
                            <button type="button" class="btn btn-primary hover-push px-5 mt-4">Add to Cart<span class="icon icon-cart5 icon-top-adjust ml-3"></span></button>
                        </div>
                        <hr class="sec-separator mb-5" />
                        <button type="button" class="btn outline-primary txt-md">Add to Wishlist<span class="icon icon-heart6 icon-top-adjust ml-3"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
