@{
    ViewData["Title"] = "View Cart";
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="maxw-2xl m-auto py-5-desktop">
            <h1 class="title-1 font-weight-bold mb-5">Shopping Cart</h1>
            <div class="row">
                <div class="col-xl-8 mb-5">
                    <h3 class="block-title">Items (3)</h3>
                    <div class="form-container bg-white txt-md">
                        <div class="table-header text-center d-none d-md-block">
                            <div class="row">
                                <div class="col-md-5">Item</div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-3">Price</div>
                                        <div class="col-md-4">Quantity</div>
                                        <div class="col-md-3">Total</div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="table-row">
                                <div class="d-flex align-items-center text-left text-md-center row">
                                    <div class="col-12 col-md-5">
                                        <button type="button" class="txt-lg float-right d-md-none mt-3 ml-3"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        <div class="d-flex align-items-center">
                                            <a asp-area="" asp-controller="Shop" asp-action="Product" asp-route-id="1">
                                                <img class="row-image" src="~/images/product-1.jpg" alt="Product 1" />
                                            </a>
                                            <div class="row-title text-left">
                                                <a asp-area="" asp-controller="Shop" asp-action="Product" asp-route-id="1" class="primary-link text-uppercase">SPRITE YOGA COMPANION</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mt-md-0 col-12 col-md-7">
                                        <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <div class="d-flex justify-content-md-center justify-content-between">
                                                    <div class="d-md-none txt-secondary">Price</div>
                                                    <div class="text-right text-md-center">
                                                        <strike>$65.00</strike>
                                                        <br class="d-none d-md-block" />
                                                        <span class="txt-accent ml-2 ml-md-0">$35.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-md-center justify-content-between align-items-center">
                                                    <div class="d-md-none txt-secondary">Quantity</div>
                                                    <div data-in-num data-in-num-min="1" data-in-num-max="10" class="d-flex justify-content-center align-items-center">
                                                        <button type="button" class="primary-link p-3 mr-1" data-in-num-dec>-</button>
                                                        <input type="text" class="i-txt text-center maxw-6 p-0 py-md-3 m-0" value="2">
                                                        <button type="button" class="primary-link py-3 pl-3 pr-md-3 ml-1" data-in-num-inc>+</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="d-flex justify-content-md-center justify-content-between">
                                                    <div class="d-md-none txt-secondary">Total Price</div>
                                                    <div class="text-right text-md-center">$130.00</div>
                                                </div>
                                            </div>
                                            <div class="d-none d-md-block text-center col-2">
                                                <button type="button" class="txt-lg"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="d-flex align-items-center text-left text-md-center row">
                                    <div class="col-12 col-md-5">
                                        <button type="button" class="txt-lg float-right d-md-none mt-3 ml-3"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        <div class="d-flex align-items-center">
                                            <a asp-area="" asp-controller="Shop" asp-action="Product" asp-route-id="2">
                                                <img class="row-image" src="~/images/product-2.jpg" alt="Product 2" />
                                            </a>
                                            <div class="row-title text-left">
                                                <a asp-area="" asp-controller="Shop" asp-action="Product" asp-route-id="2" class="primary-link text-uppercase">Yoga COMPANION KIT</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mt-md-0 col-12 col-md-7">
                                        <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <div class="d-flex justify-content-md-center justify-content-between">
                                                    <div class="d-md-none txt-secondary">Price</div>
                                                    <div class="text-right text-md-center">$55.00</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-md-center justify-content-between align-items-center">
                                                    <div class="d-md-none txt-secondary">Quantity</div>
                                                    <div data-in-num data-in-num-min="1" data-in-num-max="10" class="d-flex justify-content-center align-items-center">
                                                        <button type="button" class="primary-link p-3 mr-1" data-in-num-dec>-</button>
                                                        <input type="text" class="i-txt text-center maxw-6 p-0 py-md-3 m-0" value="3">
                                                        <button type="button" class="primary-link py-3 pl-3 pr-md-3 ml-1" data-in-num-inc>+</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="d-flex justify-content-md-center justify-content-between">
                                                    <div class="d-md-none txt-secondary">Total Price</div>
                                                    <div class="text-right text-md-center">$55.00</div>
                                                </div>
                                            </div>
                                            <div class="d-none d-md-block text-center col-2">
                                                <button type="button" class="txt-lg"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="d-flex align-items-center text-left text-md-center row">
                                    <div class="col-12 col-md-5">
                                        <button type="button" class="txt-lg float-right d-md-none mt-3 ml-3"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        <div class="d-flex align-items-center">
                                            <a asp-area="" asp-controller="Shop" asp-action="Product" asp-route-id="3">
                                                <img class="row-image" src="~/images/product-3.jpg" alt="Product 3" />
                                            </a>
                                            <div class="row-title text-left">
                                                <a asp-area="" asp-controller="Shop" asp-action="Product" asp-route-id="3" class="primary-link text-uppercase">SPRITE YOGA COMPANION KIT</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mt-md-0 col-12 col-md-7">
                                        <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <div class="d-flex justify-content-md-center justify-content-between">
                                                    <div class="d-md-none txt-secondary">Price</div>
                                                    <div class="text-right text-md-center">$55.00</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-md-center justify-content-between align-items-center">
                                                    <div class="d-md-none txt-secondary">Quantity</div>
                                                    <div data-in-num data-in-num-min="1" data-in-num-max="10" class="d-flex justify-content-center align-items-center">
                                                        <button type="button" class="primary-link p-3 mr-1" data-in-num-dec>-</button>
                                                        <input type="text" class="i-txt text-center maxw-6 p-0 py-md-3 m-0" value="1">
                                                        <button type="button" class="primary-link py-3 pl-3 pr-md-3 ml-1" data-in-num-inc>+</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="d-flex justify-content-md-center justify-content-between">
                                                    <div class="d-md-none txt-secondary">Total Price</div>
                                                    <div class="text-right text-md-center">$55.00</div>
                                                </div>
                                            </div>
                                            <div class="d-none d-md-block text-center col-2">
                                                <button type="button" class="txt-lg"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pl-xl-5 m-auto m-xl-0">
                    <h3 class="block-title">Order Summary</h3>
                    <div class="form-container bg-white mb-5">
                        <ul class="list-unstyled mb-3">
                            <li class="summary-item"><span>Order Subtotal </span><span>$300.00</span></li>
                            <li class="summary-item"><span>Discount</span><span>$50.00</span></li>
                            <li class="summary-item border-0"><span>Total</span><strong class="order-summary-total">$250.00</strong></li>
                        </ul>
                        <div>
                            <a asp-area="" asp-controller="Cart" asp-action="Checkout" class="btn btn-primary w-100 hover-push">Proceed to Checkout<span class="icon icon-arrow-right4 icon-top-adjust ml-3" aria-hidden="true"></span></a>
                            <hr class="sec-separator my-4">
                            <a asp-area="" asp-controller="Shop" asp-action="Index" class="btn primary-link w-100 hover-push"><span class="icon icon-arrow-left3 icon-top-adjust pr-3" aria-hidden="true"></span>Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
