@model IEnumerable<Jewellis.Models.NewsletterSubscriber>

@{
    ViewData["Title"] = "Newsletter";
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="maxw-2xl m-auto">
            <ul class="breadcrumb p-0 mb-5">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="primary-link"><u>Admin</u></a></li>
                <li class="breadcrumb-item">Newsletter</li>
            </ul>
            <h1 class="title-1 font-weight-bold mb-5">Newsletter</h1>
            <div class="form-container bg-white mb-5">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="flex-fill maxw-sm mb-5 mr-sm-5">
                        <form asp-area="Admin" asp-controller="Newsletter" asp-action="Index" method="get">
                            <div class="i-txt-with-btn-wrapper">
                                <input type="text" name="query" value="@ViewData["SearchQuery"]" class="i-txt bg-input-txt" placeholder="Enter keywords here..." autocomplete="off" />
                                <button type="submit" class="btn outline-primary mob-icon"><span class="mob-icon-text">Search</span><span class="icon icon-search2 icon-top-adjust" aria-hidden="true"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="border">
                    <div class="table-header text-center">
                        <div class="d-flex">
                            <div class="row flex-fill">
                                <div class="col-md-7">Email Address</div>
                                <div class="col-md-5 d-none d-md-block">Joined</div>
                            </div>
                            <div class="d-none d-lg-block px-5">Actions</div>
                        </div>
                    </div>
                    <div class="table-body">
                        @foreach (NewsletterSubscriber subscriber in Model)
                        {
                            <div class="table-row hover-bg px-4 py-5">
                                <div class="d-flex flex-column flex-lg-row justify-content-end align-items-center">
                                    <div class="row flex-fill d-flex align-items-center w-100 w-lg-auto px-lg-5 mb-4 mb-lg-0">
                                        <div class="col-md-7 text-center text-md-left">
                                            <p class="txt-title font-weight-bold text-ellipsis">@subscriber.EmailAddress</p>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <div class="py-3">@Html.DisplayFor(m => subscriber.DateJoined)</div>
                                        </div>
                                    </div>
                                    <div class="w-100 w-md-auto text-center text-lg-right px-3">
                                        <a asp-area="Admin" asp-controller="Newsletter" asp-action="Remove" asp-route-id="@subscriber.Id" class="btn btn-sm txt-md outline-danger m-1">Remove</a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.Count() < 1)
                        {
                            <p class="text-center txt-secondary p-5">No Results.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
