@{
    ViewData["Title"] = "Home Page";
}

<section id="banner-sec">
    <div class="sec-container">
        <div id="banner-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#banner-carousel" data-slide-to="1"></li>
                <li data-target="#banner-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner h-100">
                <div class="carousel-item h-100 active">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>New In Stores</h4>
                            <h2>Platinum Hazel Ring</h2>
                            <p>This elegant wedding ring achieves a chic and distinctive look with knife-edge detailing.</p>
                            <a href="#" class="btn btn-lg btn-long-arrow">Shop Now<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>New Collection</h4>
                            <h2>Beautiful Watches</h2>
                            <p></p>
                            <a href="#" class="btn btn-lg btn-long-arrow mr-3">For Women<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                            <a href="#" class="btn btn-lg btn-long-arrow">For Men<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_2.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>On Sale</h4>
                            <h2>Round Sapphire Ring</h2>
                            <p>7mm Super Premium Blue Round Sapphire</p>
                            <a href="#" class="btn btn-lg btn-long-arrow">Shop Now<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_3.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#banner-carousel" role="button" data-slide="prev">
                <span class="icon icon-arrow-left15" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#banner-carousel" role="button" data-slide="next">
                <span class="icon icon-arrow-right16" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>