@{
    ViewData["Title"] = "Home Page";
}

<section id="banner-sec">
    <div class="sec-container">
        <div id="banner-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#banner-carousel" data-slide-to="1"></li>
                <li data-target="#banner-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner h-100">
                <div class="carousel-item h-100 active">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>New In Stores</h4>
                            <h2>Platinum Hazel Ring</h2>
                            <p>This elegant wedding ring achieves a chic and distinctive look with knife-edge detailing.</p>
                            <a href="#" class="btn btn-lg btn-long-arrow">Shop Now<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>New Collection</h4>
                            <h2>Beautiful Watches</h2>
                            <p></p>
                            <a href="#" class="btn btn-lg btn-long-arrow mr-3">For Women<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                            <a href="#" class="btn btn-lg btn-long-arrow">For Men<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_2.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>On Sale</h4>
                            <h2>Round Sapphire Ring</h2>
                            <p>7mm Super Premium Blue Round Sapphire</p>
                            <a href="#" class="btn btn-lg btn-long-arrow">Shop Now<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_3.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#banner-carousel" role="button" data-slide="prev">
                <span class="icon icon-arrow-left15" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#banner-carousel" role="button" data-slide="next">
                <span class="icon icon-arrow-right16" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<hr class="sec-separator" />

<section id="about-sec">
    <div class="sec-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-image-wrap">
                    <a asp-area="" asp-controller="Home" asp-action="About"><img src="..." alt="About Us" class="img-fluid" /></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content-wrap">
                    <h2 class="txt-accent">About Us</h2>
                    <h3>We Are Jewellis!</h3>
                    <div class="about-text">
                        <p>Jewellis is an e-commerce specialized in jewelry. The Jewellis team knows that when youre buying jewelry you are looking for nothing less then perfection.</p>
                        <p>Unfortunately, this site is actually a final project in Web Application Development course, fictive, for illustration purposes, created by three B.Sc. students: Ohad Shai, Daniel Baranes, and Michael Garbuzov.</p>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-long-arrow mt-1">Learn More<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        <h4 class="vertical-text txt-accent">Who are we?</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="sec-separator" />

<section id="categories-sec">
    <div class="sec-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="large-size-cat">
                    <div class="row">
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Store" asp-action="Women">
                                    <img src="~/images/category-women.jpg" alt="Women Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Store" asp-action="Women">For Women</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Store" asp-action="Men">
                                    <img src="~/images/category-men.jpg" alt="Men Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Store" asp-action="Men">For Men</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small-size-cat">
                    <div class="row">
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Store" asp-action="Kids">
                                    <img src="~/images/category-kids.jpg" alt="Kids Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Store" asp-action="Kids">For Kids</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Store" asp-action="Rings">
                                    <img src="~/images/category-rings.jpg" alt="Rings Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Store" asp-action="Rings">Rings</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Store" asp-action="Watches">
                                    <img src="~/images/category-watches.jpg" alt="Watches Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Store" asp-action="Watches">Watches</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Store" asp-action="Glasses">
                                    <img src="~/images/category-glasses.jpg" alt="Glasses Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Store" asp-action="Glasses">Glasses</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>