@{
    ViewData["Title"] = "Home";
}

<section id="banner-sec">
    <div class="sec-container">
        <div id="banner-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#banner-carousel" data-slide-to="1"></li>
                <li data-target="#banner-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner h-100">
                <div class="carousel-item h-100 active">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>New In Stores</h4>
                            <h2>Platinum Hazel Ring</h2>
                            <p>This elegant wedding ring achieves a chic and distinctive look with knife-edge detailing.</p>
                            <a asp-area="" asp-controller="Product" asp-action="Read" asp-route-id="1" class="btn btn-lg btn-long-arrow">Shop Now<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>New Collection</h4>
                            <h2>Beautiful Watches</h2>
                            <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Watches" class="btn btn-lg btn-long-arrow mr-3">For Women<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                            <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men" asp-route-type="Watches" class="btn btn-lg btn-long-arrow">For Men<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_2.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <div class="single-carousel-item">
                        <div class="banner-caption">
                            <h4>On Sale</h4>
                            <h2>Round Sapphire Ring</h2>
                            <p>7mm Super Premium Blue Round Sapphire</p>
                            <a asp-area="" asp-controller="Product" asp-action="Read" asp-route-id="2" class="btn btn-lg btn-long-arrow">Shop Now<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        </div>
                        <div class="banner-video">
                            <video autoplay loop muted>
                                <source src="~/images/banner_vid_3.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#banner-carousel" role="button" data-slide="prev">
                <span class="icon icon-arrow-left15" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#banner-carousel" role="button" data-slide="next">
                <span class="icon icon-arrow-right16" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<hr class="sec-separator" />

<section id="about-sec">
    <div class="sec-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-image-wrap">
                    <a asp-area="" asp-controller="Home" asp-action="About"><img src="..." alt="About Us" class="img-fluid" /></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content-wrap">
                    <h2 class="txt-accent">About Us</h2>
                    <h3>We Are Jewellis!</h3>
                    <div class="about-text">
                        <p>Jewellis is an e-commerce specialized in jewelry. The Jewellis team knows that when you are buying jewelry, you are looking for nothing less then perfection.</p>
                        <p>Unfortunately, this site is actually a final project in Web Application Development course, fictive, for illustration purposes, created by three B.Sc. students: Ohad Shai, Daniel Baranes, and Michael Garbuzov.</p>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-long-arrow mt-1">Learn More<span class="icon icon-arrow-right3" aria-hidden="true"></span></a>
                        <h4 class="vertical-text txt-accent">Who are we?</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="sec-separator" />

<section id="categories-sec">
    <div class="sec-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="large-size-cat">
                    <div class="row">
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women">
                                    <img src="~/images/category-women.jpg" alt="Women Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women">Women</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men">
                                    <img src="~/images/category-men.jpg" alt="Men Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men">Men</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small-size-cat">
                    <div class="row">
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids">
                                    <img src="~/images/category-kids.jpg" alt="Kids Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids">Kids</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-type="Rings">
                                    <img src="~/images/category-rings.jpg" alt="Rings Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-type="Rings">Rings</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-type="Watches">
                                    <img src="~/images/category-watches.jpg" alt="Watches Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-type="Watches">Watches</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 single-cat-item">
                            <figure>
                                <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-type="Glasses">
                                    <img src="~/images/category-glasses.jpg" alt="Glasses Category" />
                                </a>
                                <figcaption>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-type="Glasses">Glasses</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonial-sec">
    <div class="sec-container bg-invert">
        <div class="row">
            <div class="sec-title col-lg-12 text-center">
                <h2 class="txt-title-invert">What People Say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-centered text-center">
                <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner col-lg-8 col-centered">
                        <div class="carousel-item active">
                            <div class="single-testimonial-item">
                                <p>"<span>I have searched for a long time for the great ring (the precious one), and now after so much wars I have finally found it in Jewellis! My precious!</span>"</p>
                                <h3 class="client-name">- <span>Gollum</span> -</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-testimonial-item">
                                <p>"<span>I've collected so many rings and I just can't seem to have enough, after purchsing the Jewellis gold ring I finally feel whole.</span>"</p>
                                <h3 class="client-name">- <span>Sonic</span> -</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-testimonial-item">
                                <p>"<span>I've searched all over the galaxy for the perfect stones, and even sacrificed the things I love the most for them. The best one, I found in Jewellis.</span>"</p>
                                <h3 class="client-name">- <span>Thanos</span> -</h3>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                        <span class="icon icon-arrow-left15 h1" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                        <span class="icon icon-arrow-right16 h1" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="newsletter-sec">
    <div class="sec-container">
        <div class="row">
            <div class="sec-title col-lg-12 text-center">
                <h2>Join The Newsletter</h2>
                <p>Get Updates On Awesome Jewelry!</p>
            </div>
        </div>
        <div class="row">
            <form action="" method="post" id="subscribe-form">
                <div class="i-txt-with-btn-wrapper mob-break px-5">
                    <input type="email" name="email" id="sub-email" class="i-txt bg-input-txt font-italic" placeholder="Enter your email here..." required />
                    <button type="submit" class="btn outline-primary">Subscribe</button>
                </div>
                <div id="sub-result"></div>
            </form>
        </div>
    </div>
</section>
