@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="container py-5-desktop">
            <h1 class="title-1 font-weight-bold mb-5">Privacy Policy</h1>
            <p class="paragraph-1 mb-5">We care about your privacy, so here you can find about the information that we collect, how we process it, and what actions are given to you regarding your information.<br />If you have any questions regarding our privacy policy, feel free to <a asp-area="" asp-controller="Home" asp-action="Contact" class="primary-link font-weight-bold">contact us</a>.</p>
            <p class="mb-5 text-danger"><strong>WARNING:</strong> This site is fictive, for illustration purposes only, do not enter any sensitive information here.</p>
            <div class="py-3">
                <div class="px-5 py-3">
                    <h3>1. The information we collect</h3>
                    <p class="px-3 pb-3">We collect the content and other information you provide when you use our site, including when you sign up for an account, or make orders. This can include information in or about the content you provide, for instance, the date and time the information entered to the system.</p>
                </div>
                <div class="px-5 py-3">
                    <h3>2. How we use this information</h3>
                    <p class="px-3 pb-3">We use the information you have provided us, in order to provide a good demonstration of this project.</p>
                </div>
                <div class="px-5 py-3">
                    <h3>3. How you can delete your data</h3>
                    <p class="px-3">We provide you with the ability to access, rectify, move and erase your data. Learn more in your <a asp-area="" asp-controller="Account" asp-action="Settings" class="primary-link"><u>Account Settings</u></a>.</p>
                    <p class="px-3 pb-3">We store data until it is no longer necessary to provide our demonstration of this project, or until your account is deleted. When your account is deleted, we won't be able to recover that information later.</p>
                </div>
                <div class="px-5 py-3">
                    <h3>4. How to contact us with questions</h3>
                    <p class="px-3 pb-3">If you have questions about this policy, you can <a asp-area="" asp-controller="Home" asp-action="Contact" class="primary-link"><u>contact us</u></a>.</p>
                </div>
                <p class="mt-5">Date of Last Revision: May 10, 2021</p>
            </div>
        </div>
    </div>
</section>
