@{
    ViewData["Title"] = "Terms & Conditions";
}

<section class="bg-light-1">
    <div class="sec-container">
        <div class="container py-5-desktop">
            <h1 class="title-1 font-weight-bold mb-5">Terms &amp; Conditions</h1>
            <p class="paragraph-1 mb-5">By using our site, you must meet the terms and conditions listed below.<br />If you have any questions regarding our terms, feel free to <a asp-area="" asp-controller="Home" asp-action="Contact" class="primary-link font-weight-bold">contact us</a>.</p>
            <div class="py-3">
                <div class="px-5 py-3">
                    <h3>1. Definition</h3>
                    <p class="px-3 pb-3">Jewellis is a final project for Web Application Development course studied in <a href="https://english.colman.ac.il/" target="_blank" class="primary-link"><u>The College of Management</u></a>, as part of undergraduate studies in computer science.</p>
                </div>
                <div class="px-5 py-3">
                    <h3>2. The brand</h3>
                    <p class="px-3 pb-3">Jewellis is <strong>not</strong> a real brand or company, the name is made up for the project.</p>
                </div>
                <div class="px-5 py-3">
                    <h3>3. Who may use our site</h3>
                    <p class="px-3">You can check our work, test, and make actions - <strong>but</strong> do not take them seriously, all the data in this site is fictive, for illustration purposes only.</p>
                    <p class="px-3 pb-3">You may not copy any content from this site or project.</p>
                </div>
                <div class="px-5 py-3">
                    <h3>4. Your privacy</h3>
                    <p class="px-3 pb-3">Since this site is fictive, you should not put any sensitive information in our system.<br />For more information, check our <a asp-area="" asp-controller="Home" asp-action="Privacy" class="primary-link"><u>privacy policy</u></a>.</p>
                </div>
                <div class="px-5 py-3">
                    <h3>5. Use of our source code</h3>
                    <p class="px-3 pb-3">The source code is open to watch and visible to everyone. However, we worked a lot on this project so that it would be part of our portfolio, so we do not allow commercial use of our project.</p>
                </div>
                <p class="mt-5">Date of Last Revision: May 10, 2021</p>
            </div>
        </div>
    </div>
</section>