@model Jewellis.Areas.Account.ViewModels.Profile.ProfileVM

@{
    ViewData["Title"] = "Account Profile";
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="maxw-2xl m-auto py-5-desktop">
            <h1 class="title-1 font-weight-bold mb-5">Your Account</h1>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-7 col-sm-8 pr-xl-5">
                    <partial name="~/Areas/Account/Views/Shared/_MenuPartial.cshtml" model="@("Profile")" />
                </div>
                <div class="col-xl-9 mb-5">
                    <h3 class="block-title">Profile</h3>
                    <div class="form-container bg-white">
                        <form asp-area="Account" asp-controller="Profile" asp-action="EditProfile" method="post">
                            <input type="hidden" asp-for="EditProfileVM.CurrentEmail" />
                            <div class="row">
                                <div class="col-sm-6 single-form-item">
                                    <label asp-for="EditProfileVM.FirstName"></label>
                                    <input asp-for="EditProfileVM.FirstName" class="i-txt" />
                                    <span asp-validation-for="EditProfileVM.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 single-form-item">
                                    <label asp-for="EditProfileVM.LastName"></label>
                                    <input asp-for="EditProfileVM.LastName" class="i-txt" />
                                    <span asp-validation-for="EditProfileVM.LastName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 single-form-item">
                                    <label asp-for="EditProfileVM.EmailAddress"></label>
                                    <input asp-for="EditProfileVM.EmailAddress" class="i-txt" />
                                    <span asp-validation-for="EditProfileVM.EmailAddress" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 single-form-item">
                                    <label asp-for="EditProfileVM.PhoneNumber"></label>
                                    <input asp-for="EditProfileVM.PhoneNumber" class="i-txt" />
                                    <span asp-validation-for="EditProfileVM.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="text-right mt-2">
                                <button type="submit" class="btn btn-primary px-5" data-submit-loader>Save Changes</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="block-title mt-5">Security</h3>
                            <div class="form-container bg-white">
                                <form asp-area="Account" asp-controller="Profile" asp-action="EditPassword" method="post">
                                    <div class="single-form-item">
                                        <label asp-for="EditPasswordVM.CurrentPassword"></label>
                                        <input asp-for="EditPasswordVM.CurrentPassword" class="i-txt" />
                                        <span asp-validation-for="EditPasswordVM.CurrentPassword" class="text-danger"></span>
                                    </div>
                                    <div class="single-form-item">
                                        <label asp-for="EditPasswordVM.NewPassword"></label>
                                        <input asp-for="EditPasswordVM.NewPassword" class="i-txt" />
                                        <span asp-validation-for="EditPasswordVM.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="single-form-item">
                                        <label asp-for="EditPasswordVM.NewPasswordConfirm"></label>
                                        <input asp-for="EditPasswordVM.NewPasswordConfirm" class="i-txt" />
                                        <span asp-validation-for="EditPasswordVM.NewPasswordConfirm" class="text-danger"></span>
                                    </div>
                                    @if (TempData["EditPassword_ErrorMessage"] != null)
                                    {
                                        <div class="validation-summary-errors txt-md">@TempData["EditPassword_ErrorMessage"]</div>
                                    }
                                    <div class="text-right mt-2">
                                        <button type="submit" class="btn btn-primary px-5" data-submit-loader>Change Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 px-4 pl-md-5">
                            <h3 class="block-title mt-5">Preferences</h3>
                            <div class="form-container bg-white">
                                <form asp-area="Account" asp-controller="Profile" asp-action="EditPreferences" method="post">
                                    <div class="single-form-item">
                                        <label asp-for="EditPreferencesVM.Currency"></label>
                                        <select asp-for="EditPreferencesVM.Currency" asp-items="ViewBag.SupportedCurrencies" class="i-txt bg-input-txt"></select>
                                        <span asp-validation-for="EditPreferencesVM.Currency" class="text-danger"></span>
                                    </div>
                                    <div class="single-form-item">
                                        <label asp-for="EditPreferencesVM.Theme"></label>
                                        <select asp-for="EditPreferencesVM.Theme" asp-items="ViewBag.SupportedThemes" class="i-txt bg-input-txt"></select>
                                        <span asp-validation-for="EditPreferencesVM.Theme" class="text-danger"></span>
                                    </div>
                                    <div class="text-right mt-2">
                                        <button type="submit" class="btn btn-primary px-5" data-submit-loader>Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (TempData["SuccessTitle"] != null)
{
    <div id="success-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-shadow">
                <div class="modal-header">
                    <h2 class="modal-title"><span class="icon icon-checkmark2 icon-top-adjust mr-3" aria-hidden="true"></span>@TempData["SuccessTitle"]</h2>
                </div>
                <div class="modal-body">
                    <p class="p-2 m-0">@TempData["SuccessBody"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary px-5" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @if (TempData["SuccessTitle"] != null)
    {
        <script>
            $(function () {
                $('#success-modal').modal('show');
            });
        </script>
    }
}
