@{
    ViewData["Title"] = "Login";
}

<section class="bg-light-3">
    <div class="sec-container">
        <div class="container py-5-desktop">
            <h3 class="txt-accent text-uppercase text-center mb-5">Login</h3>
            <div class="form-container maxw-sm bg-light-2">
                <form action="" method="post">
                    <div class="single-input-item">
                        <input type="email" name="Email" class="i-txt bg-input-txt" placeholder="Email Address" required />
                    </div>
                    <div class="single-input-item">
                        <input type="password" name="Password" class="i-txt bg-input-txt" placeholder="Password" autocomplete="off" required />
                    </div>
                    <div class="single-input-item txt-md my-5">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="RememberMe" class="custom-control-input" checked />
                                <label for="RememberMe" class="custom-control-label txt-primary">Remember Me</label>
                            </div>
                            <button type="button" class="primary-link" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Sorry, we currently do not support this feature. Next time try to remember your password :-)">Forget Password?</button>
                        </div>
                    </div>
                    <div class="single-input-item text-center">
                        <button type="submit" class="btn outline-primary w-100">Login</button>
                    </div>
                    <div class="form-messege"></div>
                    <hr class="sec-separator my-5" />
                    <p class="text-center m-0">Don't have an account? <a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
