@model Jewellis.Areas.Shop.ViewModels.Order.CheckoutVM.ConditionalRegisterVM

<div class="row">
    <div class="col-lg-6">
        <div class="single-form-item">
            <input asp-for="FirstName" class="i-txt bg-input-txt" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="single-form-item">
            <input asp-for="LastName" class="i-txt bg-input-txt" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="single-form-item">
    <input asp-for="EmailAddress" class="i-txt bg-input-txt" />
    <span asp-validation-for="EmailAddress" class="text-danger"></span>
</div>
<div class="single-form-item">
    <input asp-for="Password" class="i-txt bg-input-txt" autocomplete="off" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="single-form-item">
    <input asp-for="ConfirmPassword" class="i-txt bg-input-txt" autocomplete="off" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
</div>
<div class="single-form-item txt-md my-5">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" asp-for="SubscribeNewsletter" class="custom-control-input" />
        <label asp-for="SubscribeNewsletter" class="custom-control-label txt-primary"></label>
    </div>
</div>
<p class="txt-sm text-center txt-secondary">By signing up, you agree to our <a asp-area="" asp-controller="Home" asp-action="Terms" target="_blank" class="txt-secondary"><u>Terms</u></a> and <a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank" class="txt-secondary"><u>Privacy Policy</u></a>.</p>
