<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jewellis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @* Main Header *@
    <header id="main-header" class="fixed-top">
        <div class="lay-wrapper">
            <div class="lay-left">
                <h1 id="main-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </h1>
                <button id="main-menu-toggler" class="text-shadow" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Menu">
                    <span class="icon icon-menu3" aria-hidden="true"></span>
                </button>
            </div>
            <div class="lay-middle">
                <nav id="main-menu">

                </nav>
            </div>
            <div class="lay-right">
                <ul id="main-controls" class="header-list links-text-shadow">
                    <li>
                        <a href="#" id="main-search-open" role="button"><span class="icon icon-search2" aria-hidden="true"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-user5" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="#" role="button" data-toggle="modal" data-target="#wishlist-modal"><span class="icon icon-heart6" aria-hidden="true"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-cart5" aria-hidden="true"></span><span class="count">3</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    @* Content *@
    <main id="main-content" role="main">
        @RenderBody()
    </main>

    @* Main Footer *@
    <footer id="main-footer">
        <div class="container">
            &copy; 2021 - Jewellis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
