
<div class="search-header">
    <div class="lay-wrapper h-100">
        <div class="lay-middle w-100">
            <div class="search-box w-100">
                <form asp-area="" asp-controller="Home" asp-action="MainSearch" method="get"
                      data-ajax="true" data-ajax-method="get" data-ajax-update="#main-search-results" data-ajax-update-template="#single-main-search-item" data-ajax-success="MainSearchSuccess" data-ajax-failure="MainSearchFailure">
                    <div class="i-txt-with-btn-wrapper">
                        <input type="text" id="main-search-query" name="query" placeholder="What are you looking for?" class="i-txt" autocomplete="off" required />
                        <button type="submit" class="btn outline-primary text-nowrap mob-icon" data-submit-loader><span class="mob-icon-text">Search</span><span class="icon icon-search2" aria-hidden="true"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="lay-right">
            <button id="main-search-close" class="primary-link" type="button"><span class="icon icon-close2"></span></button>
        </div>
    </div>
</div>
<div class="search-body">
    <div class="maxw-lg m-auto search-results" style="display: none;">
        <div id="main-search-results"></div>

        <div id="main-search-more" class="search-results-more">
            <a asp-area="Shop" asp-controller="Home" asp-action="Index" data-search-more-link="@Url.Action("Index", "Home", new { area = "Shop" })?query=" class="btn btn-neutral btn-lg">Show More<span class="icon icon-arrow-right4 icon-top-adjust ml-3" aria-hidden="true"></span></a>
        </div>
    </div>
</div>

@* Single Search Item Template *@
<script type="text/html" id="single-main-search-item">
    <div class="single-search-product">
        <a href="@Url.Action("Index", "Product", new { area = "Shop", id = "" })/{id}">
            <div class="row">
                <div class="col-sm-9 d-flex align-items-center">
                    <div class="search-product-img">
                        <img src="{imagePath}" alt="{name}" />
                    </div>
                    <div class="search-product-details">
                        <div class="search-product-title">{name}</div>
                        <div>{price}</div>
                    </div>
                </div>
                <div class="col-3 d-none d-sm-flex justify-content-end align-items-center">
                    <div class="btn outline-primary mr-5">View<span class="icon icon-arrow-right4 icon-top-adjust ml-3" aria-hidden="true"></span></div>
                </div>
            </div>
        </a>
    </div>
</script>

<script>
    function MainSearchSuccess(data) {
        var $resultsContainer = $('#main-search-results');
        var $searchMore = $('#main-search-more');

        if (data.length > 0) {
            var $searchMoreLink = $searchMore.children();
            $searchMoreLink.attr('href', $searchMoreLink.attr('data-search-more-link') + $('#main-search-query').val());
            $searchMore.show();
        } else {
            $searchMore.hide();
            $('<p class="txt-lg text-center txt-secondary p-3 m-0">No results.</p>').appendTo($resultsContainer);
        }

        $resultsContainer.parent().show();
    }
    function MainSearchFailure() {
        alert("Something went wrong, please try again later.");
    }
</script>
